<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <app-header></app-header>
  <div class="app-main">
  <app-side-menu></app-side-menu>
  <!-- Body Starts -->
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Add Property Category</div>
            </div>
        </div>
      </div>

  <div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Add Property Category</h5>
          <form [formGroup]="catFormgroup" (ngSubmit)=submitCategory(catFormgroup)>
            <div class="form-row">
                <div class="col-md-4">
                  <label>Sale Category<sup class="text-danger">*</sup></label>
                  <select formControlName="saletype" class="form-control">
                    <option value="" selected="selected">-- Select Sale Category --</option>
                    <option *ngFor="let salecategory of salecategorys" value="{{ salecategory.sale_key }}">{{ salecategory.sale_type }}</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label>Property Category</label>
                  <input type="text" class="form-control" formControlName="propertycat" placeholder="Enter Category">
                </div>

                <div class="col-md-4">
                    <input type="submit" class="btn btn-success mt-4"  value="Submit">
                </div>
            </div>
          </form>
    </div>
</div>

<div class="main-card mb-3 card">
  <div class="card-body">
    <h5 class="card-title">Property Category</h5>
    <div class="row">
      <div class="col-md-12">

        
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef> S. No. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{ i+1 }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="sale_type">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{ element.sale_type }} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="cat_name">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{ element.cat_name }} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="cat_key">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"><button class="btn btn-danger w-auto"><i class="fa fa-trash-alt"></i></button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>
  </div>

  </div>
</div>


      </div>
    </div>
  <!-- Body Ends -->


  <!-- Body Ends -->
</div>
</div>
