<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <app-header></app-header>
    <div class="app-main">
    <app-side-menu></app-side-menu>
    <!-- Body Starts -->
    <div class="app-main__outer">
      <div class="app-main__inner">
        <div class="app-page-title">
          <div class="page-title-wrapper">
              <div class="page-title-heading">
                  <div class="page-title-icon">
                      <i class="pe-7s-car icon-gradient bg-mean-fruit">
                      </i>
                  </div>
                  <div>Add Possession
                  </div>
              </div>
          </div>
        </div>
  
    <div class="main-card mb-3 card">
      <div class="card-body">
          <h5 class="card-title">Add Possession</h5>
          <form [formGroup]='possessionFormgroup' (ngSubmit)='SubmitPossession(possessionFormgroup)'>
              <div class="form-row">
                  <div class="col-md-4">
                      <label>Possession</label>
                      <input type="text" class="form-control" formControlName="possession" placeholder="Enter possession">
                      <p class="text-danger" *ngIf="submitted && possessionFormgroup.controls.possession.hasError('required')">This Field is required.</p>
                  </div>
                  <div class="col-md-4">
                      <input type="submit" class="btn btn-success mt-4" value="Submit">
                  </div>
              </div>
          </form>
      </div>
  
      <div class="card-body">
        <div class="card-title">Sale Type Table</div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
              
                  <table mat-table [dataSource]="dataSource">
              
                    <!-- Position Column -->
                    <ng-container matColumnDef="sno">
                      <th mat-header-cell *matHeaderCellDef> S. No. </th>
                      <td mat-cell *matCellDef="let element; let i = index;"> {{ i+1 }} </td>
                    </ng-container>
              
                    <!-- Name Column -->
                    <ng-container matColumnDef="possession">
                      <th mat-header-cell *matHeaderCellDef> Title </th>
                      <td mat-cell *matCellDef="let element"> {{ element.possession }} </td>
                    </ng-container>
              
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="pos_key">
                      <th mat-header-cell *matHeaderCellDef> Actions </th>
                      <td mat-cell *matCellDef="let element"><button class="btn btn-primary w-auto"><i class="fa fa-pencil-alt"></i></button></td>
                    </ng-container>
              
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
              
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
      </div>
  
  </div>
  
  
  
  
        </div>
      </div>
    <!-- Body Ends -->
  
  
    <!-- Body Ends -->
  </div>
  </div>
  