<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <app-header></app-header>
  <div class="app-main">
  <app-side-menu></app-side-menu>
  <!-- Body Starts -->
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Property Subcategory</div>
            </div>
        </div>
      </div>

  <div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Add Property Subcategory</h5>
        <form [formGroup]='subcatFormgroup' (ngSubmit)='SubmitPropsubcat(subcatFormgroup)' action="propertyCategory" method="post">
            <div class="form-row">
                <div class="col-md-4">
                    <label>Sale Category</label>
                    <select class="form-control" formControlName="saletype" #saletye (change)="proptype(saletye.value)">
                      <option selected="selected" value="">-- Select Saletype --</option>
                      <option *ngFor="let salecategory of salecategorys" value="{{ salecategory.sale_key }}">{{ salecategory.sale_type }}</option>
                    </select>
                </div>
                <div class="col-md-4">
                  <label>Property Category</label>
                  <select class="form-control" formControlName="propertytype">
                    <option selected="selected" value="">-- select Property Type --</option>
                    <option *ngFor="let propcategory of propcategorys" value="{{ propcategory.cat_key }}">{{ propcategory.cat_name }}</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label>Sub Category</label>
                  <input type="text" formControlName="propsubcat" class="form-control" placeholder="Enter Sub category">
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-success mt-4" value="Submit">
                </div>
                <!-- <div class="col-md-12" *ngIf="msg">
                  {{ msg }}
                </div> -->
            </div>
        </form>
    </div>
</div>

<div class="main-card mb-3 card">
  <div class="card-body">
    <h5 class="card-title">Property Subcategory List</h5>
    <table id="example" class="table table-hover table-striped table-bordered">
      <thead>
      <tr>
        <td>S.No</td>
        <td>Property Category</td>
        <td>Property Subcategory</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody *ngFor="let item of subcattable; let i=index">
      <tr>
        <td>{{ i+1 }}</td>
        <td>{{ item.cat_name }}</td>
        <td>{{ item.subcat_name }}</td>
        <td>-</td>
      </tr>
    </tbody>

    </table>
  </div>
</div>


      </div>
    </div>
  <!-- Body Ends -->


  <!-- Body Ends -->
</div>
</div>
