

  <div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">Menus</li>
                <li>
                    <a>
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        Masters
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="admin/saletype">
                                <i class="metismenu-icon"></i>
                                Property Sale Type
                            </a>
                        </li>
                        <li>
                          <a href="admin/propertycategory">
                              <i class="metismenu-icon"></i>
                              Property Category
                          </a>
                      </li>
                      <li>
                        <a href="admin/addpropertysubcategory">
                            <i class="metismenu-icon"></i>
                            Property Sub Category
                        </a>
                    </li>
                    <li>
                        <a href="admin/possession">
                            <i class="metismenu-icon"></i>
                            Add Possession
                        </a>
                    </li>
                        <li>
                            <a href="admin/addproperty">
                                <i class="metismenu-icon"></i>
                                Add Property
                            </a>
                        </li>
                        <li>
                            <a href="admin/dealer">
                                <i class="metismenu-icon"></i>
                                Add dealer
                            </a>
                        </li>
                        <li>
                            <a href="admin/propertylist">
                                <i class="metismenu-icon"></i>
                                Auction Properties
                            </a>
                        </li>
                        <li>
                          <a href="admin/addbanner">
                              <i class="metismenu-icon"></i>
                              Dealer Banner
                          </a>
                      </li>
                    </ul>
                </li>
                <li>
                    <a href="forms-controls.html">
                        <i class="metismenu-icon pe-7s-mouse">
                        </i>Reporting
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
