<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <app-header></app-header>
  <div class="app-main">
  <app-side-menu></app-side-menu>
  <!-- Body Starts -->
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Analytics Dashboard
                    <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.
                    </div>
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  <!-- Body Ends -->
</div>
</div>

