<div class="app-header header-shadow">
  <div class="app-header__logo">
      <div class="logo-src"></div>
      <div class="header__pane ml-auto">
          <div>
              <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                  <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                  </span>
              </button>
          </div>
      </div>
  </div>
  <div class="app-header__mobile-menu">
      <div>
          <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
              <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
              </span>
          </button>
      </div>
  </div>
  <div class="app-header__menu">
      <span>
          <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
              <span class="btn-icon-wrapper">
                  <i class="fa fa-ellipsis-v fa-w-6"></i>
              </span>
          </button>
      </span>
  </div>
  <div class="app-header__content">
      <div class="app-header-right">
          <div class="header-btn-lg pr-0">
              <div class="widget-content p-0">
                  <div class="widget-content-wrapper">
                      <div class="widget-content-left">
                          <div class="btn-group">
                              <button mat-button [matMenuTriggerFor]="menu"><img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg" alt=""><i class="fa fa-angle-down ml-2 opacity-8"></i></button>
                              <mat-menu #menu="matMenu">
                                  <button mat-menu-item>Edit Profile</button>
                                  <button mat-menu-item>Logout</button>
                              </mat-menu>
                          </div>
                      </div>
                  </div>
              </div>
          </div>        </div>
  </div>
</div>
