
<div class="limiter">
  <div class="container-login100" style="background-image: url('assets/login/images/img-01.jpg');">
    <div class="wrap-login100 p-t-190 p-b-30">

      <form [formGroup]='loginForm' (ngSubmit)="Login(loginForm)" class="login100-form validate-form">
        <div class="login100-form-avatar" style="border-radius: 0% !important;">
          <img src="assets/login/images/avatar-01.png" alt="AVATAR">
        </div>

        <span class="login100-form-title">Admin</span>
        <div *ngIf="invalid" class="text-danger">Inavlid Credentials</div>
        <div class="wrap-input100 validate-input mt-2" data-validate = "Username is required">
          <input class="input100" type="text" formControlName="username"  placeholder="Username">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-user"></i>
          </span>
        </div>

        <div class="wrap-input100 validate-input mt-3" data-validate = "Password is required">
          <input class="input100" type="password" formControlName="password" placeholder="Password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-lock"></i>
          </span>
        </div>

        <div class="container-login100-form-btn mt-3">
          <button type="submit" class="login100-form-btn" id="Login">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
