.imagepreview{
  max-width: 150px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px #555;
  margin-top: 20px;
}
table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.table-img{
  margin: 5px 0px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 5px #555;
}

