<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <app-header></app-header>
  <div class="app-main">
  <app-side-menu></app-side-menu>
  <!-- Body Starts -->
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Add Dealer</div>
            </div>
        </div>
      </div>

  <div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Add Dealers</h5>
        <form [formGroup]="dealerFormGroup" (ngSubmit)="submitBanner(dealerFormGroup)">
            <div class="form-row">
                <div class="col-md-4">
                  <label>Dealer Name<sup class="text-danger">*</sup></label>
                  <select formControlName="dealerName" class="form-control" #dealername (change)='dealerN(dealername.value)'>
                    <option value="" selected="selected">-- Select Delaer --</option>
                    <option *ngFor="let item of dealers" value="{{ item.c_key }}">{{ item.c_name }}</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label>Banner Title</label>
                  <input type="text" class="form-control" formControlName="bannertitle" #bannertitle placeholder="Enter Banner Title Here">
                </div>

                <div class="col-md-4">
                  <label>Banner Image</label>
                  <input type="file" formControlName="photo" class="form-control" accept="image/*" (change)="onSelectFile($event)">
                  <div *ngIf="url">
                  <img [src]="url" class="imagepreview"> <br/>
                  </div>
                </div>

                <div class="col-md-4">
                    <input type="submit" class="btn btn-success mt-4" (click)='bannert(bannertitle.value)' value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="main-card mb-3 card">
  <div class="card-body">
    <h5 class="card-title">Dealer Banners</h5>
    <div class="row">
      <div class="col-md-12">



    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef> S. No. </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{ i+1 }} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="c_name">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{ element.c_name }} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element"> <img class="table-img" src="http://localhost:81/auctionandmore/propertyimage/{{ element.img }}" width="100px"> </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="db_key">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"><button class="btn btn-danger w-auto" (click)='deleteIt(element.db_key)'><i class="fa fa-trash-alt"></i></button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>
</div>

  </div>
</div>


      </div>
    </div>
  <!-- Body Ends -->


  <!-- Body Ends -->
</div>
</div>
