<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <app-header></app-header>
  <div class="app-main">
  <app-side-menu></app-side-menu>
  <!-- Body Starts -->
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Analytics Dashboard
                    <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.
                    </div>
                </div>
            </div>
        </div>
      </div>

  <div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Add Property Category</h5>
        <form [formGroup]='addpropFormgroup' (ngSubmit)='submitProperty(addpropFormgroup)'>
            <div class="form-row">
                <div class="col-md-3">
                    <label>Sale Category</label>
                    <select class="form-control" formControlName="saletype" #saletye (change)="proptype(saletye.value)">
                      <option value="" selected="selected">-- Select Saletype --</option>
                      <option *ngFor="let salecategory of salecategorys" value="{{ salecategory.sale_key }}">{{ salecategory.sale_type }}</option>
                    </select>
                    <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.saletype.hasError('required')">This Field is required.</p>
                </div>
                <div class="col-md-3">
                  <label>Property Category</label>
                  <select class="form-control" formControlName="propcategory" #propcat (change)="propcate(propcat.value)">
                    <option value="" selected="selected">-- select Property Type --</option>
                    <option *ngFor="let propcategory of propcategorys" value="{{ propcategory.cat_key }}">{{ propcategory.cat_name }}</option>
                  </select>
                  <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.propcategory.hasError('required')">This Field is required.</p>
                </div>
                <div class="col-md-3">
                  <label>Property Sub Category</label>
                  <select class="form-control" formControlName="propertysubcat">
                    <option value="" selected="selected">-- Select Sub Category --</option>
                    <option *ngFor="let subcategory of subcategorys" value="{{ subcategory.subcat_key }}">{{ subcategory.subcat_name }}</option>
                  </select>
                  <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.propertysubcat.hasError('required')">This Field is required.</p>
                </div>
                <div class="col-md-3">
                  <label>Area</label>
                  <div class="row">
                    <div class="col-md-6 pr-0">
                      <input type="text" formControlName="area" class="form-control" placeholder="Area">
                      <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.area.hasError('required')">This Field is required.</p>
                    </div>
                    <div class="col-md-6 pl-0">
                      <select class="form-control" formControlName="areaParam">
                        <option value="" label="Select" selected="selected">Select</option>
                        <option value="sq.ft." label="sq.ft.">sq.ft.</option>
                        <option value="sq.yards" label="sq.yards">sq.yards</option>
                        <option value="sq.m." label="sq.m.">sq.m.</option>
                        <option value="acres" label="acres">acres</option>
                        <option value="marla" label="marla">marla</option>
                        <option value="cents" label="cents">cents</option>
                        <option value="bigha" label="bigha">bigha</option>
                        <option value="kottah" label="kottah">kottah</option>
                        <option value="kanal" label="kanal">kanal</option>
                        <option value="grounds" label="grounds">grounds</option>
                        <option value="ares" label="ares">ares</option>
                        <option value="biswa" label="biswa">biswa</option>
                        <option value="guntha" label="guntha">guntha</option>
                        <option value="aankadam" label="aankadam">aankadam</option>
                        <option value="hectares" label="hectares">hectares</option>
                        <option value="rood" label="rood">rood</option>
                        <option value="chataks" label="chataks">chataks</option>
                        <option value="perch" label="perch">perch</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label>Property Title</label>
                  <input type="text" class="form-control" formControlName="propTitle" placeholder="Enter Property Title Here">
                  <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.propTitle.hasError('required')">This Field is required.</p>
                </div>

                <div class="col-md-4">
                  <label>Auction Date</label>
                  <input type="date" class="form-control" formControlName="auctionDate">
                  <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.auctionDate.hasError('required')">This Field is required.</p>
                </div>
                <div class="col-md-4">
                  <label>Bid Date</label>
                  <input type="date" class="form-control" formControlName="bidDate">
                  <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.bidDate.hasError('required')">This Field is required.</p>
                </div>
                <div class="col-md-4">
                  <label>State</label>
                  <select class="form-control" formControlName="state" #statesval (change)="mystate(statesval.value)">
                    <option value="" selected="selected">-- Select State --</option>
                    <option *ngFor="let state of states" value="{{ state.state }}">{{ state.state }}</option>
                  </select>
                  <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.state.hasError('required')">This Field is required.</p>
                </div>

                <div class="col-md-4">
                  <label>City</label>
                  <select class="form-control" formControlName="city">
                    <option value="" selected="selected">-- Select City --</option>
                    <option *ngFor="let city of cities" value="{{ city.city }}">{{ city.city }}</option>
                  </select>
                  <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.city.hasError('required')">This Field is required.</p>
                </div>

                <div class="col-md-4">
                  <label>Location</label>
                  <input type="text" formControlName="location" class="form-control" placeholder="Enter Loaction Here">
                  <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.location.hasError('required')">This Field is required.</p>
                </div>

                <div class="col-md-6">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="address" placeholder="Enter Address Here">
                  <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.address.hasError('required')">This Field is required.</p>
                </div>

                <div class="col-md-3">
                  <label>Price</label>
                  <input type="text" class="form-control" formControlName="price" placeholder="Enter Price Here">
                  <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.price.hasError('required')">This Field is required.</p>
                </div>


                <div class="col-md-3">
                  <label>Status</label>
                  <select class="form-control" formControlName="status">
                    <option selected="selected" value="">-- Select Status --</option>
                    <option value="0">upcoming</option>
                    <option value="1">Sold</option>
                    <option value="2">Failed</option>
                  </select>
                  <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.status.hasError('required')">This Field is required.</p>
                </div>

                <div class="col-md-4">
                  <label>Possession</label>
                  <select class="form-control" formControlName="possession">
                    <option selected="selected">--Select Possession type</option>
                    <option *ngFor="let pos of possessions" value="{{ pos.pos_key }}">{{ pos.possession }}</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label>Bank Name</label>
                  <input type="text" class="form-control" formControlName="bank" placeholder="Enter Bank Name">
                </div>

                <div class="col-md-4">
                  <label>Bank Branch</label>
                  <input type="text" class="form-control" formControlName="bankbranch" placeholder="Enter Bank Branch">
                </div>

                <div class="col-md-3">
                  <label>Contact Person</label>
                  <input type="text" class="form-control" formControlName="contactPerson" placeholder="Enter Contact Person Here">
                  <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.contactPerson.hasError('required')">This Field is required.</p>
                </div>

                <div class="col-md-3">
                  <label>Contact Number</label>
                  <input type="text" class="form-control" formControlName="contact" placeholder="Enter Contact No Here">
                  <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.contact.hasError('required')">This Field is required.</p>
                </div>

                <div class="col-md-6">
                  <label>Remarks</label>
                  <input type="text" class="form-control" formControlName="remark" placeholder="Enter Remarks Here">
                  <p class="text-danger" *ngIf="submitted && addpropFormgroup.controls.remark.hasError('required')">This Field is required.</p>
                </div>



                <div class="col-md-4">
                    <input type="submit" class="btn btn-success mt-4" value="Submit">
                </div>
            </div>
        </form>
    </div>

</div>






      </div>
    </div>
  <!-- Body Ends -->


  <!-- Body Ends -->
</div>
</div>
