<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <app-header></app-header>
  <div class="app-main">
  <app-side-menu></app-side-menu>
  <!-- Body Starts -->
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Add Dealer</div>
            </div>
        </div>
      </div>

  <div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Add Dealers</h5>
        <form [formGroup]="dealerFormGroup" (ngSubmit)="submitDealer(dealerFormGroup)" method="post">
            <div class="form-row">
                <div class="col-md-4">
                  <label>Dealer Name<sup class="text-danger">*</sup></label>
                  <input type="text" class="form-control" formControlName='dealerName' placeholder="Enter Dealer Name">
                </div>
                <div class="col-md-4">
                  <label>Dealer Mobile No<sup class="text-danger">*</sup></label>
                  <input type="text" class="form-control" formControlName='dealerMobile' placeholder="Enter Dealer Mobile No">
                </div>
                <div class="col-md-4">
                  <label>Dealer Email<sup class="text-danger">*</sup></label>
                  <input type="text" class="form-control" formControlName='dealerEmail' placeholder="Enter Dealer Email">
                </div>
                <div class="col-md-4">
                  <label>Dealer Password<sup class="text-danger">*</sup></label>
                  <input type="text" class="form-control" formControlName='dealerPassword' placeholder="Enter Dealer Password">
                </div>

                <div class="col-md-4">
                    <input type="submit" class="btn btn-success mt-4" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="main-card mb-3 card">
  <div class="card-body">
    <h5 class="card-title">Property Subcategory List</h5>
    <table id="example" class="table table-hover table-striped table-bordered">
      <thead>
      <tr>
        <td>S.No</td>
        <td>Name</td>
        <td>Mobile</td>
        <td>Email</td>
        <td>Status</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody *ngFor="let item of dealers; let i=index">
        <tr>
          <td>{{ i+1 }}</td>
          <td>{{ item.c_name }}</td>
          <td>{{ item.c_mobile }}</td>
          <td>{{ item.c_email }}</td>
          <td>{{ item.status }}</td>
          <td>-</td>
        </tr>
    </tbody>
    </table>
  </div>
</div>


      </div>
    </div>
  <!-- Body Ends -->


  <!-- Body Ends -->
</div>
</div>
