<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <app-header></app-header>
  <div class="app-main">
  <app-side-menu></app-side-menu>
  <!-- Body Starts -->
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Analytics Dashboard
                    <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.
                    </div>
                </div>
            </div>
        </div>
      </div>

  <div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Add Property Category</h5>
        <form [formGroup]='saleFormgroup' (ngSubmit)='SubmitSaletype(saleFormgroup)' action="propertyCategory" method="post">
            <div class="form-row">
                <div class="col-md-4">
                    <label>Sale Category</label>
                    <input type="text" class="form-control" formControlName="saletype" placeholder="Enter Sale type">
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-success mt-4" value="Submit">
                </div>
                <div class="col-md-12" *ngIf="msg">
                  {{ msg }}
                </div>
            </div>
        </form>
    </div>

    <div class="card-body">
      <div class="card-title">Sale Type Table</div>
      <table id="example" class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
          <td>S.No</td>
          <td>Sale Type</td>
          <td>ActionsS</td>
        </tr>
      </thead>
      <tbody *ngFor="let item of texts; let i=index">
        <tr>
          <td>{{ i+1 }}</td>
          <td>{{ item.sale_type }}</td>
          <td>-</td>
        </tr>
      </tbody>

      </table>
    </div>

</div>




      </div>
    </div>
  <!-- Body Ends -->


  <!-- Body Ends -->
</div>
</div>
