.scroll-table{
  width: 100%;
  overflow-x: scroll;
  max-width: 968px;
}
table {
  width: 1500px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-column-title{
  max-width: 100px;
  word-wrap: break-all;
}
.mat-column-address{
  max-width: 200px;
  word-wrap: break-all;
}
.auc-modal{
  position: absolute;
  z-index: 99;
  top: 0px;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.auc-modal-body{
  width: 90%;
  margin: 2.5% 5%;
  height: 90%;
  background-color: #ffffff;
  padding: 10px;
}
.auc-modal-body h3{
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  margin-top: 5px;
  padding: 0px;
  margin-bottom: 0px;
}
.auc-modal-body form{
  padding: 10px 20px;
}
.error{
  margin-bottom: 0px;
  padding: 0px;
}
/* .auc-modal-body form label{
  margin-top: 5px;
} */