<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <app-header></app-header>
  <div class="app-main">
  <app-side-menu></app-side-menu>
  <!-- Body Starts -->
  <div class="app-main__outer">
    <div class="app-main__inner">
      <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>Analytics Dashboard
                    <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="main-card mb-3 card">
        <div class="card-body">
          <div class="card-header">
            <h5>Auction Property List</h5>
          </div>
      <div class="row">
        <div class="col-md-12">
          <div class="scroll-table">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>

          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="sno">
              <th mat-header-cell *matHeaderCellDef> S. No. </th>
              <td mat-cell *matCellDef="let element; let i = index;"> {{ i+1 }} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> Title </th>
              <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> {{ element.price }} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="cat_name">
              <th mat-header-cell *matHeaderCellDef> Category </th>
              <td mat-cell *matCellDef="let element"> {{ element.cat_name }} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="subcat_name">
              <th mat-header-cell *matHeaderCellDef> Subcategory </th>
              <td mat-cell *matCellDef="let element"> {{ element.subcat_name }} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="area">
              <th mat-header-cell *matHeaderCellDef> Area </th>
              <td mat-cell *matCellDef="let element"> {{ element.area }} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="auctiondate">
              <th mat-header-cell *matHeaderCellDef> Auction Date </th>
              <td mat-cell *matCellDef="let element"> {{ element.auctiondate }} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="biddate">
              <th mat-header-cell *matHeaderCellDef> Last Date </th>
              <td mat-cell *matCellDef="let element"> {{ element.biddate }} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{ getStatus(element.status) }} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="p_key">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element"> 
                <button class="btn btn-primary w-auto" (click)='getView(element.p_key)'><i class="fa fa-pencil-alt"></i></button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </div>
      </div>
      </div>
      </div>




            </div>
          </div>
        <!-- Body Ends -->


        <!-- Body Ends -->
      </div>
      </div>

      <div class="auc-modal" *ngIf="mymodal">
        <div class="auc-modal-body">
            <div class="row">
              <div class="col-md-12">
                  <h3 class="text-center">Property Details</h3>
                  <button class="btn btn-danger w-auto float-right" (click)="closeThis()">Close</button>
                  <button class="btn btn-primary w-auto float-right mr-2">Edit</button>
                <hr>
            </div>
            <div class="col-md-12">
              <form [formGroup]='updatepropFormgroup' (ngSubmit)='submitProperty(updatepropFormgroup)'>
                <div class="form-row">
                    <div class="col-md-3">
                        <label>Sale Category</label>
                        <select class="form-control" formControlName="saletype" #saletye (change)="proptype(saletye.value)" disabled='rd'>
                          <option>Sale Type</option>
                          <option *ngFor="let salecategory of salecategorys" value="{{ salecategory.sale_key }}">{{ salecategory.sale_type }}</option>
                        </select>
                        <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.saletype.hasError('required')">This Field is required.</p>
                    </div>
                    <div class="col-md-3">
                      <label>Property Category</label>
                      <select class="form-control" formControlName="propcategory" #propcat (change)="propcate(propcat.value)" disabled='rd'>
                        <option value="" selected="selected">-- select Property Type --</option>
                        <option *ngFor="let propcategory of propcategorys" value="{{ propcategory.cat_key }}">{{ propcategory.cat_name }}</option>
                      </select>
                      <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.propcategory.hasError('required')">This Field is required.</p>
                    </div>
                    <div class="col-md-3">
                      <label>Property Sub Category</label>
                      <select class="form-control" formControlName="propertysubcat" disabled='rd'>
                        <option value="" selected="selected">-- Select Sub Category --</option>
                        <option *ngFor="let subcategory of subcategorys" value="{{ subcategory.subcat_key }}">{{ subcategory.subcat_name }}</option>
                      </select>
                      <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.propertysubcat.hasError('required')">This Field is required.</p>
                    </div>
                    <div class="col-md-3">
                      <label>Area</label>
                      <div class="row">
                        <div class="col-md-6 pr-0">
                          <input type="text" formControlName="area" class="form-control" placeholder="Enter Area" readonly='rd'>
                          <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.area.hasError('required')">This Field is required.</p>
                        </div>
                        <div class="col-md-6 pl-0">
                          <select class="form-control" formControlName="areaParam" disabled='rd'>
                            <option value="" label="Select" selected="selected">Select</option>
                            <option value="sq.ft." label="sq.ft.">sq.ft.</option>
                            <option value="sq.yards" label="sq.yards">sq.yards</option>
                            <option value="sq.m." label="sq.m.">sq.m.</option>
                            <option value="acres" label="acres">acres</option>
                            <option value="marla" label="marla">marla</option>
                            <option value="cents" label="cents">cents</option>
                            <option value="bigha" label="bigha">bigha</option>
                            <option value="kottah" label="kottah">kottah</option>
                            <option value="kanal" label="kanal">kanal</option>
                            <option value="grounds" label="grounds">grounds</option>
                            <option value="ares" label="ares">ares</option>
                            <option value="biswa" label="biswa">biswa</option>
                            <option value="guntha" label="guntha">guntha</option>
                            <option value="aankadam" label="aankadam">aankadam</option>
                            <option value="hectares" label="hectares">hectares</option>
                            <option value="rood" label="rood">rood</option>
                            <option value="chataks" label="chataks">chataks</option>
                            <option value="perch" label="perch">perch</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label>Property Title</label>
                      <input type="text" class="form-control" formControlName="propTitle" placeholder="Enter Title" readonly='rd'>
                      <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.propTitle.hasError('required')">This Field is required.</p>
                    </div>
    
                    <div class="col-md-4">
                      <label>Auction Date</label>
                      <input type="date" class="form-control" formControlName="auctionDate" readonly='rd'>
                      <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.auctionDate.hasError('required')">This Field is required.</p>
                    </div>
                    <div class="col-md-4">
                      <label>Bid Date</label>
                      <input type="date" class="form-control" formControlName="bidDate" readonly='rd'>
                      <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.bidDate.hasError('required')">This Field is required.</p>
                    </div>
                    <div class="col-md-4">
                      <label>State</label>
                      <select class="form-control" formControlName="state" #statesval (change)="mystate(statesval.value)" disabled='rd'>
                        <option value="" selected="selected">-- Select State --</option>
                        <option *ngFor="let state of states" value="{{ state.state }}">{{ state.state }}</option>
                      </select>
                      <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.state.hasError('required')">This Field is required.</p>
                    </div>
    
                    <div class="col-md-4">
                      <label>City</label>
                      <select class="form-control" formControlName="city" disabled='rd'>
                        <option value="" selected="selected">-- Select City --</option>
                        <option *ngFor="let city of cities" value="{{ city.city }}">{{ city.city }}</option>
                      </select>
                      <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.city.hasError('required')">This Field is required.</p>
                    </div>
    
                    <div class="col-md-4">
                      <label>Location</label>
                      <input type="text" formControlName="location" class="form-control" placeholder="Enter Location" readonly='rd'>
                      <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.location.hasError('required')">This Field is required.</p>
                    </div>
    
                    <div class="col-md-6">
                      <label>Address</label>
                      <input type="text" class="form-control" formControlName="address" placeholder="Enter Address" readonly='rd'>
                      <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.address.hasError('required')">This Field is required.</p>
                    </div>
    
                    <div class="col-md-3">
                      <label>Price</label>
                      <input type="text" class="form-control" formControlName="price" placeholder="Enter Price here" readonly='rd'>
                      <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.price.hasError('required')">This Field is required.</p>
                    </div>
    
    
                    <div class="col-md-3">
                      <label>Status</label>
                      <select class="form-control" formControlName="status" disabled='rd'>
                        <option selected="selected" value="">-- Select Status --</option>
                        <option value="0">upcoming</option>
                        <option value="1">Sold</option>
                        <option value="2">Failed</option>
                      </select>
                      <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.status.hasError('required')">This Field is required.</p>
                    </div>

                    <div class="col-md-4">
                      <label>Possession</label>
                      <select class="form-control" formControlName="possession" disabled='rd'>
                        <option selected="selected">--Select Possession type</option>
                        <option *ngFor="let pos of possessions" value="{{ pos.pos_key }}">{{ pos.possession }}</option>
                      </select>
                    </div>

                    <div class="col-md-4">
                      <label>Bank Name</label>
                      <input type="text" class="form-control" formControlName="bank" readonly='rd' placeholder="Enter Bank Name">
                    </div>
    
                    <div class="col-md-4">
                      <label>Bank Branch</label>
                      <input type="text" class="form-control" formControlName="bankbranch" readonly='rd' placeholder="Enter Bank Branch">
                    </div>
    
                    <div class="col-md-3">
                      <label>Contact Person</label>
                      <input type="text" class="form-control" formControlName="contactPerson" placeholder="Enter Contact person" readonly='rd'>
                      <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.contactPerson.hasError('required')">This Field is required.</p>
                    </div>
    
                    <div class="col-md-3">
                      <label>Contact Number</label>
                      <input type="text" class="form-control" formControlName="contact" placeholder="Enter Contact No" readonly='rd'>
                      <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.contact.hasError('required')">This Field is required.</p>
                    </div>
    
                    <div class="col-md-6">
                      <label>Remarks</label>
                      <input type="text" class="form-control" formControlName="remark" placeholder="Enter remark here" readonly='rd'>
                      <p class="error text-danger" *ngIf="submitted && updatepropFormgroup.controls.remark.hasError('required')">This Field is required.</p>
                    </div>
    
    
    
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-success mt-4" value="Submit">
                    </div>
                </div>
            </form>
            </div>
        </div>
      </div>
